# ========================
# Backend (.NET)
# ========================
backend/bin/
backend/obj/
backend/*.user
backend/.vs/

# ========================
# Frontend (Angular)
# ========================
frontend/node_modules/
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/
frontend/.angular/
frontend/npm-debug.log
frontend/yarn-error.log

# ========================
# IDEs and editors
# ========================
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
.history/*

# ========================
# System files
# ========================
.DS_Store
Thumbs.db

# ========================
# Uploads
# ========================
backend/wwwroot/images/**
!backend/wwwroot/images/profiles/
!backend/wwwroot/images/profiles/default.png
!backend/wwwroot/images/services/
!backend/wwwroot/images/services/default-service.svg

# ========================
# Miscellaneous
# ========================
*.log
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/
